################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Online-School-System/FileContentIndex/c32a3458-c841-409e-bdaf-915f343844da.vsidx
/.vs/Online-School-System/FileContentIndex/182e35be-925b-4243-b784-ebddb42253ce.vsidx
/.vs/Online-School-System/v17
/.vs
