################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Online-School-System/FileContentIndex/c32a3458-c841-409e-bdaf-915f343844da.vsidx
/.vs/Online-School-System/FileContentIndex/182e35be-925b-4243-b784-ebddb42253ce.vsidx
/.vs/Online-School-System/v17
/.vs
/SystemAPI/SystemAPI/obj/Debug/net8.0/SystemAPI.AssemblyInfoInputs.cache
/SystemAPI/SystemAPI/obj/Debug/net8.0/SystemAPI.AssemblyInfo.cs
/SystemAPI/SystemAPI/obj/SystemAPI.csproj.nuget.g.targets
/SystemAPI/SystemAPI/obj/project.nuget.cache
/SystemAPI/SystemAPI/obj/SystemAPI.csproj.nuget.dgspec.json
/SystemAPI/SystemAPI/obj/SystemAPI.csproj.nuget.g.props
/SystemAPI/SystemAPI/obj/project.assets.json
/SystemAPI/SystemAPI/obj/Debug/net8.0/SystemAPI.GeneratedMSBuildEditorConfig.editorconfig
/SystemAPI/SystemAPI/obj/Debug/net8.0/SystemAPI.csproj.AssemblyReference.cache
/SystemAPI/SystemAPI/obj/Debug/net8.0/SystemAPI.assets.cache
/SystemAPI/SystemAPI/obj/Debug/net8.0/SystemAPI.csprojResolveAssemblyReference.cache
/SystemAPI/SystemAPI/Migrations
/SystemAPI/SystemAPI/Migrations/DataContextModelSnapshot.cs
/SystemAPI/SystemAPI/Migrations/20240514104715_SecretKeyDbUpdate.Designer.cs
/SystemAPI/SystemAPI/Migrations/20240514104715_SecretKeyDbUpdate.cs
/SystemAPI/SystemAPI/Migrations/20240514101422_UniqueConstraintDbUpdate.Designer.cs
/SystemAPI/SystemAPI/Migrations/20240514101422_UniqueConstraintDbUpdate.cs
/SystemAPI/SystemAPI/.config
/SystemAPI/SystemAPI/Properties/ServiceDependencies/local
/SystemAPI/SystemAPI/Properties/serviceDependencies.json
/SystemAPI/SystemAPI/Properties
