<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid d-flex justify-content-between">
    <div class="heading">LoginPage</div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white fs-5" (click)="navigateToHome()">Back</a>
      </li>
    </ul>
  </div>
</nav>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container mt-5">
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input id="username" formControlName="username" class="form-control">
    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
      Username is required and must be at least 4 characters long.
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input id="password" type="password" formControlName="password" class="form-control">
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
      Password is required and must be at least 3 characters long.
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || isLoading">OK</button>
</form>

<div *ngIf="isLoading" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
