@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.add-professor-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .add-professor-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-professor-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-professor-form input[type="text"],
  .add-professor-form textarea,
  .add-professor-form select {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-professor-form button[type="submit"] {
    display: block; /* Da bude prikazano kao blok element */
    margin: 0 auto; /* Centriranje horizontalno */
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-professor-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .error-message {
    color: red;
    margin-bottom: 10px; /* Dodajemo margin ispod poruke */
  }
  