.assignment-details {
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 8px;
    padding: 20px;
    margin: 15% auto;
    max-width: 600px; /* Smanjena širina */
  }
  
  .assignment-details h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .assignment-details h3 {
    color: black;
  }
  
  .assignment-details .professor,
  .assignment-details .assistant {
    background-color: #f0f0f0;
    border: 1px solid aliceblue;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .assignment-details a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
  }
  
  .assignment-details a:hover {
    background-color: aliceblue;
  }
  
  .assignment-details button {
    background-color: aliceblue;
    border: none;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
