:host {
  display: flex;
}

app-sidebar {
  flex: 0 0 auto; /* Ne mijenjajte veličinu, koristi svoju prirodnu veličinu */
}

app-profile-view {
  width: 80%;/* Zauzmi preostali prostor */
  /* margin-top: 20px; */
}
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-content {
  width: 100%;
}

.profile-details,
.profile-contact {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.profile-edit {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
