<div class="container-l">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Manage Courses</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="postCourse()">
              <i class='fas fa-plus-circle'></i><span> ADD</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>Name</th>
            <th>Overview</th>
            <th>Summary</th>
            <th>Professor</th>
            <th>Assistant</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList" class="center-align">
            <ng-container *ngIf="editingCourse?.id !== course.id">
              <td>{{ course.name }}</td>
              <td>{{ course.overview }}</td>
              <td>{{ course.summary }}</td>
              <td>{{ course.professorName }}</td>
              <td>{{ course.assistantName }}</td>
              <td>
                <a href="#" (click)="startEdit(course)" class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" (click)="openDeleteModal(course.id)" class="btn" title="Delete"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </ng-container>
            <ng-container *ngIf="editingCourse?.id === course.id">
              <td><input [(ngModel)]="editingCourse.name" class="form-control" /></td>
              <td><input [(ngModel)]="editingCourse.overview" class="form-control" /></td>
              <td><input [(ngModel)]="editingCourse.summary" class="form-control" /></td>
              <td>
                <select [(ngModel)]="editingCourse.professorId" class="form-control">
                  <option *ngFor="let professor of professors" [value]="professor.id">{{ professor.title }} {{ professor.name }}</option>
                </select>
              </td>
              <td>
                <select [(ngModel)]="editingCourse.assistantId" class="form-control">
                  <option *ngFor="let assistant of assistants" [value]="assistant.id">{{ assistant.title }} {{ assistant.name }}</option>
                </select>
              </td>
              <td>
                <button (click)="saveCourse()" class="btn btn-success"><i class='fas fa-save'></i></button>
                <button (click)="cancelEdit()" class="btn btn-secondary"><i class='fas fa-times'></i></button>
              </td>
            </ng-container>
          </tr>
          <tr *ngIf="courseList.length == 0">
            <td colspan="6" class="no-courses">No Courses Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>