<nav *ngIf="!showLoginPage" class="navbar navbar-dark bg-primary">
    <div class="container-fluid d-flex justify-content-between">
      <div class="heading">HomePage</div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white fs-5" (click)="navigateToLogin()">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div *ngIf="!showLoginPage" class="line" id="Home">
    <div class="side1">
      <h1>EduSphere</h1>
      <p>Welcome to EduSphere, your platform for better education!</p>
    </div>
    <div class="side2">
      <img src="https://nces.ed.gov/images/homepage/coe.jpg" width="500">
    </div>
  </div>
  
  <footer *ngIf="!showLoginPage">
    <div class="footer">
      <!-- Footer content -->
    </div>
  </footer>
  
